<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JunianDev.SDEmu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <log4net>
        <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
            <immediateFlush value="true"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="[%date] Thread[%thread]%newline%-5level %logger - %message%newline%exception%newline"/>
            </layout>
        </appender>
        <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
            <target value="Console.Error"/>
            <mapping>
                <level value="FATAL"/>
                <foreColor value="Red"/>
                <backColor value="White"/>
            </mapping>
            <mapping>
                <level value="ERROR"/>
                <foreColor value="Red, HighIntensity"/>
            </mapping>
            <mapping>
                <level value="WARN"/>
                <foreColor value="Yellow"/>
            </mapping>
            <mapping>
                <level value="INFO"/>
                <foreColor value="Blue"/>
            </mapping>
            <mapping>
                <level value="DEBUG"/>
                <foreColor value="Green"/>
            </mapping>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="[%date] Thread[%thread]%newline%-5level %logger - %message%newline%exception%newline"/>
            </layout>
        </appender>
        <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="${APPDATA}/SDEmu/SDEmu.log"/>
            <appendToFile value="true"/>
            <rollingStyle value="Size"/>
            <maxSizeRollBackups value="10"/>
            <maximumFileSize value="1MB"/>
            <staticLogFileName value="true"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="[%date] Thread[%thread]%newline%-5level %logger - %message%newline%exception%newline"/>
            </layout>
        </appender>
        <root>
            <level value="ALL"/>
            <appender-ref ref="DebugAppender"/>
            <appender-ref ref="ColoredConsoleAppender"/>
            <appender-ref ref="RollingFileAppender"/>
        </root>
    </log4net>
    <userSettings>
        <JunianDev.SDEmu.Properties.Settings>
            <setting name="MainFormTopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeviceBotEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrentBotScript" serializeAs="String">
                <value>//use message as variable
//sample use:
//if(message == "OK")
//    return "YES";</value>
            </setting>
        </JunianDev.SDEmu.Properties.Settings>
    </userSettings>
</configuration>
